.container {
  width: 70%;
  margin: auto;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center; */
}

.dice {
  text-align: center;
  display: inline-block;

}

button{
  display: block;
  margin: 30px auto;
  padding: 8px;
  background-color: yellow;
  border-radius: 8px;
  font-size: 20px;
}

button:hover{
  background-color: white;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: white;
}

p {
  font-size: 2rem;
  color: white;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;

}
